@import "./_mixins_o_variabler.scss"; 

// Om oss 

.about_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;

    section{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
  }

// Anställda

    .round_portrait {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        padding: 20px;
    }
    
    .meet_container
    {
        width: 100%;
        display: flex;
        margin-top: 10vh;
        margin-bottom: 0;

        .worker{
        margin-top: 5vh;
        margin-bottom: 10vh;
        }
    }
    
    .worker{
        display:flex;
        width: 100%;
        flex-direction: column;
        
        div {
            padding: 10px;
            width: 100%;
        }
    }

  //Media querys för desktop
  @media (min-width: 768px) {
    .about_container {
      flex-direction: row;
      flex-wrap: wrap;

        section {
            padding: 0px 20px;
            box-sizing: border-box;
            max-width: 50%;
      }
    }
    .worker{
        display:flex;
        width: 100%;
        flex-direction: row;

        div {
            max-width: 50%;
            margin: 0px 20px;
        }
    }

}

